.login{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  height:70vh;
}
.login .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .login-form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .register-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .register-link p {
    margin: 0;
  }
  
  .register-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  